@model string

<div class="jumbotron">
    <h1>@ViewBag.Title</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS, and JavaScript.</p>

    @Html.ActionLink("Gehe zum Grid", "Grid", "Home",null,  new { @class="btn btn-primary btn-lg" }) 
    @Html.ActionLink("Gehe zu Knockout", "Knockout", "Home", null, new { @class = "btn btn-danger btn-lg" }) 
    @Html.ActionLink("Reset Data", "Reset", "api", null, new { @class="btn btn-warning btn-lg" }) 
</div> 

<img src="~/api/Catty" style="display:block;" />

<br/>

<a href="/odata/Customers?$top=5&$skip=2" class="btn btn-warning">Beispiel OData Paging mit $top=5&$skip=2</a>
    
@section footer
{
    <b>Username: @ViewBag.CurrentUserName</b><br/> 
    <a href="/odata/$metadata">/odata/$metadata</a>
}
  
<button id="test" class="btn btn-warning btn-lg">Auto stehlen!</button>

@section scripts
{
    <script>

        var myFirstModule = (function($) {

            var _color = "red";
            var _events = $({});

            var init = function() {

                $("#test").click(function() {

                    $(this).css("color", _color);
                    _events.trigger("autoWeg", "Porsche!");

                });
            };

            var onAutoWeg = function (callback) {
                _events.on("autoWeg", callback);
            }

            var setColor = function(color) {
                _color = color;
            }

            return {
                init: init,
                setColor: setColor,
                events: {
                    onAutoWeg: onAutoWeg
                }
                
            }
        })(window.jQuery);

        var newColor = "green";

        $(function() {

            myFirstModule.setColor(newColor);
            myFirstModule.init();

            myFirstModule.events.onAutoWeg(function () {
                $("h1").text("Das ist ja schrecklich!!!");
            });
        });

    </script>

}
